.recipe-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
}

#search-bar {
  margin-left: 20px 0;
}

.recipe-card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.recipe-title {
  margin: 0;
  padding: 10px 0;
  font-size: 1.2em;
}

.recipe-description {
  color: #666;
  font-size: 0.9em;
}

.view-recipe-link {
  display: inline-block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.view-recipe-link:hover {
  background-color: #0056b3;
}

header, footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
}

header h1, footer p {
  text-align: center;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0px;
  padding: 0px;
}

/* A media query to adjust the grid for wider screens */
@media (min-width: 1200px) {
  .recipe-container {
      grid-template-columns: repeat(6, 1fr);
  }
}
